
<div class="col-lg-12">
<h1 class="page-header">Projects</h1>

<table class="table-bordered" id="request-table">
<thead>
<tr>
<th rowspan="2">ID</th>
<th rowspan="2">Name</th>
<th colspan="2">Commission</th>
</tr>
<tr>
<th>Effective Date</th>
<th>Percentage (%)</th>
</tr>
</thead>
<tbody>
<%@projects.order("created_at").each do |project|%>
	<%project.commissions.each_with_index do |comm,index|%>
		<tr class='clickable-row' data-href="/projects/<%=project.id%>/edit">
		<%if index == 0%>
			<td rowspan="<%=project.commissions.length%>"><%=project.id%></td>
			<td rowspan="<%=project.commissions.length%>"><%=project.name%></td>
		<%end%>
		<td><%=comm.effective_date%></td>
		<td><%=comm.percentage%></td>
		</tr>
	<%end%>
<%end%>
</tbody>
</table>

<%= paginate @projects %>
</div>