  <div class="col-xs-5 col-sm-5 col-md-5">
    <%= sv2_form.fields_for :user, User.new do |ren_form| %>

		    <%= ren_form.text_field :prefered_name,placeholder: "Name",class: "form-control",required: true%>

		    <%= ren_form.hidden_field :password, :value => "eliteonesales2017"%>

    <%end%>
  </div>

  <div class="col-xs-5 col-sm-5 col-md-5">
   <%= sv2_form.number_field :percentage,placeholder: "Percentage (%)", class: "form-control",min: "0",max: "100",step: "any",required: true%>
  </div>

  <div class="col-xs-1 col-sm-1 col-md-1">
  <%= sv2_form.link_to_remove "-",class: "ren_remove btn btn-default" %>
  </div>
