<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sale
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/sales/new">New</a></li>
        <li><a href="/users/<%=current_user.id%>/sales">Individual</a></li>
        <li><a href="/teams/<%=current_user.team.id%>/sales">Team</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Team
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%=link_to "Sales Summary", teams_sales_summary_path%></li>
        <li><a href="/teams/<%=current_user.team.id%>/profiles">Member Profiles</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Project
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/projects/new">New</a></li>
        <li><a href="/projects">List</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chart
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href='/charts/barchart'>Team Sales Figure</a></li>
        <li><a href='/charts/monthly_barchart'>Team Monthly Sales Figure</a></li>
      </ul>
    </li>
    <li><a href="/requests">Request</a></li>
    <%if current_user.admin?%>   
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Other
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/pages/sales">Sales</a></li>
          <li><a href="/pages/users">Users</a></li>
          <li><a href="/pages/units">Units</a></li>
        </ul>
      </li>
    <%end%>
    <li><%=form_tag '/change_user', class: "navbar-form" do%>
      <%=select_tag :user, options_for_select(user_subtree.order('prefered_name').pluck(:prefered_name,:id)),{:prompt => "View as",class: "form-control"}%>
      <%=submit_tag "Go",class: "btn btn-default"%>
    <%end%>
    </li>
    <%if !session[:id].nil?%>
      <li><%=link_to "Viewing as #{current_user.prefered_name} (Revert)",'/revert_user', style: "color: yellow;"%></li>
    <%end%>
  </ul>
